photos/
img
Untitled Notebook (156).pdf
Untitled Notebook (160).pdf

project/
.vscode
restaurants.json

# jpg
hh.jpg
hhh.jpg
contact.jpg
img1.jpg
img3.jpg
web.webp
Arrays.webp
Graphs.webp
Trees.webp
nirm.webp
nirmala.avif
no.png
left.png
right.png
images.png
paper.jpeg
rock.webp
scissors.png
vs.png
Zomato.avif



# mp4 files
Billie.mp4
Bittersweet.mp3
D.mp4r
rm.mp3
V.mp4