@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    /* background-color: #ECECEC; */
    background-color: #FFFAF7;
}

.header {
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    position: fixed;
   
}
.images{
    position: relative;
    left: 50px;
}
.option{
    margin-left: 70px;
}
.btn{
    
    margin-right: 30px;
    font-size: 20px;
    border: none;
    background: none;   
}
.search{
    width: 400px;
    height: 30px;
    outline: none; /* Removes the default blue outline */
    border-radius: 5px;
}
/* .search:focus {
    border: none; /* Removes the border on focus */
/* } */
 
.pro{
    margin-right: 30px;
    font-size: 20px;
    border: none;
    background: none;   
}
.mimg{
    
    object-fit: cover;
}
.cbtn{
    margin-left: 34px;
}

.card-btn{
    background: none;   
    border: none;
    margin-top: 30px;
    
}
.cardimg{
    height: 150px;
    object-fit: cover;
    border-radius: 19px;
    outline: none;
}
.bcard-btn{
    margin-top: 20px;
    background: none;   
    border: none;
    margin-left: 55px;
}
.bcardimg{
    height: auto;
    object-fit: cover;
    border-radius: 15px;   
}
.trend{
    color: rgb(22, 21, 21);
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.para{
    font-size: 20px;
    font-weight: 700;
}
.hbb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hbtn{
    height: 50px;
    width: 120px;
    background-color: rgb(179, 190, 187);
    font-size: 21px;
    font-weight: 500;
    margin-top: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
}
#hbtn:hover {
    background-color: rgb(150, 170, 165);
    cursor: pointer;
}
#hbtn:active {
    transform: scale(0.95);
}
#hbtn {
    transition: all 0.3s ease-in-out;
}
.gcard-btn,.hcard-btn{
    margin-left:50px;
    border: none; /*Remove any border*/
    background: transparent; /* Ensure no background color */
}
.gcardimg{
    height: auto;
    width: 400px;
    object-fit: cover;
    border: none;
    outline: none;  
}
.of{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: rgb(37, 35, 35);
}
.hpara{
    margin-top: 8px;
    margin-bottom: 30px;
    font-size: 15px;
    text-align: left;
    color: rgb(156, 155, 155);
}
.hcardimg{
    height: auto;
    
}
