@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #ECECEC;
}

.header {
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:space-between ;
   
}
.images{
    position: relative;
    left: 50px;
}
.option{
    margin-left: 70px;
}
.btn{
    
    margin-right: 30px;
    font-size: 20px;
    border: none;
    background: none;   
}
.search{
    width: 400px;
    height: 30px;
    outline: none; /* Removes the default blue outline */
    border-radius: 5px;
}
/* .search:focus {
    border: none; /* Removes the border on focus */
/* } */
 
.pro{
    margin-right: 30px;
    font-size: 20px;
    border: none;
    background: none;   
}
.mimg{
    
    object-fit: cover;
}
.middle{
    display: flex;
}
.card-btn{
    background: none;   
    border: none;
    margin-left: 20px;
}
.cardimg{
    height: 150px;
    object-fit: cover;
    border-radius: 19px;
    outline: none;
}
