*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: cadetblue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
} 
header h1{
    text-align: center;
}
main{
    padding:50px;
}